p.icon-center {
    margin: 0.1em 0.5em 1.2em !important;
    font-size : 0.65em !important;
    color : inherit;
}

i.fa.fa-bars.active {
    margin-top : 0.2em !important;
}



.leaflet-sidebar-tabs > ul > li.active {
    color : #fff !important;
}

.crm-container a, .crm-container a:link, .crm-container a:visited {
    color : inherit;
}

p.icon-center-rightsidebar {
    margin: 0.1em 0.1em 1.2em 0.1em !important;
    font-size : 0.65em !important;
    color : inherit;
}
