.actions .select2-results__options {
  max-height: unset !important;
}
#select2-btrmsgtpl-id-results,
#select2-revision-results,
#select2-sample-results {
  max-height: 50vh
}
#select2-sample-results .select2-results__option--disabled {
  color: inherit;
  font-weight: bold
}
.select2-results__option {
  white-space: nowrap;
}
hr.separator {
  margin: 0;
}
.modified {
  color: firebrick;
}
#monaco {
  height: 100vh;
  border: 1px solid silver;
}
#outline {
  border: 1px solid silver;
  background-color: white;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  overflow: clip scroll;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  padding: 0px 5px;
}
#sampler {
  border: 1px solid silver;
  background-color: white;
  height: 25vh;
}
#preview {
  border: 1px solid silver;
  background-color: white;
  width: 100%;
}
#compare {
  border: 1px solid silver;
  background-color: white;
}
#default-info {
  position: absolute;
  min-height: 35vh;
  border: 2px solid silver;
  overflow: auto;
}
#default-info hr {
  margin: 0;
}
.btrmsgtpl-outline-header {
  background-color: var(--bs-secondary);
  color: white;
  font-weight: bold;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btrmsgtpl-outline-header .fa-caret-down {
  padding-bottom: 6px;
}
.btrmsgtpl-outline-blocks {
  background-color: white;
  color: black;
  font-weight: normal;
  padding: 8px;
  cursor: default;
}

.btrmsgtpl-outline-content.selected {
  background-color: yellow;
}

.btrmsgtpl-sub {
  background-color: var(--bs-secondary);
  color: white;
  font-weight: bold;
  padding: 3px 3px 3px 20px;
  margin: 1rem -8px;
}

@keyframes highlightfade {
  from { background-color: yellow;}
  to { background-color: white;}
}

.highlight-fade {
  animation-name: highlightfade;
  animation-duration: 2s;
}

.btrmsgtpl-inline-block {
  background-color: palegreen;
  padding: 3px;
  display: inline;
}

.btrmsgtpl-warning {
  color: red;
  font-weight: bold;
  display: block;
}

.btrmsgtpl-var {
  color: blue;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
}
.btrmsgtpl-var.selected {
  border: 2px solid blue;
}

.btrmsgtpl-token {
  color: forestgreen;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
}
.btrmsgtpl-token.selected {
  border: 2px solid forestgreen;
}

.btrmsgtpl-header {
  padding: 3px;
}

.btrmsgtpl-valued {
  color: forestgreen;
}

.btrmsgtpl-inline {
  background-color: yellow;
  padding: 3px;
  display: inline;
  border-radius: 5px;
}

.btrmsgtpl-ts {
  background-color: pink;
  color: navy;
  font-weight: bold;
  padding: 3px;
  display: inline;
  border-radius: 5px;
}

.btrmsgtpl-comment {
  background-color: orange;
  color: black;
  padding: 3px;
  display: inline;
  border-radius: 5px;
}

.btrmsgtpl-unexpected {
  color: red;
  font-weight: bold;
  position: relative;
  border-bottom: 1px dashed silver;
  cursor: default;
}

.btrmsgtpl-unexpected:before {
  content: attr(data-unexpected);
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  left: 100%;
  margin-left: 5px;

  width: 200px;
  padding: 5px;
  border-radius: 5px;
  background: #5D677B;
  color: white;
  text-align:center;
  border: 1px solid white;

  display:none;
}

.btrmsgtpl-unexpected:hover:before {
  display: block;
  z-index: 867509;
}
#-you-are-here {
  padding: 5px;
  border-radius: 5px;
  background: #5D677B;
  color: white;
  font-size: smaller;
}
#you-are-here {
  position: absolute;
  right: 12px;
  padding: 5px;
  border-radius: 5px;
  background: var(--bs-secondary);
  color: white;
  font-size: smaller;
}
.key {
  background-color: lightgray !important;
  border:1px solid darkgray !important;
  padding: 2px 5px !important;
  border-radius: 5px !important;
  white-space: nowrap !important;
  font-family: inherit !important;
}
#btrmsgtpl-prefs, #btrmsgtpl-settings {
  border: 1px solid #b0d730;
  border-radius: 5px;
  padding: 0px 16px 16px 16px;
  background-color: #f1f8eb;
  margin-top: 24px;
  float: left;
}
.important {
  color: forestgreen;
}
#closer {
  cursor: pointer;
}
.messages.status .msg-title {
  font-size: larger;
}