<div af-fieldset="">
  <div class="af-container af-layout-inline">
    <af-field name="title" defn="{required: false, input_attrs: {}, label: ts('Form Processor')}" />
  </div>
  <crm-search-display-table search-name="Form_Processors" display-name="Form_Processors"></crm-search-display-table>
</div>
