<div class="crm-container crm-block chasse-container" id="bootstrap-theme">
  <h1 crm-page-title>{{ ts('Edit Chassé Journey: %name', { name: journey.name }) }}</h1>
  <p><a href="#/chasse" class="btn btn-secondary-outline btn-sm">{{ts('Back to Chassé Overview')}}</a></p>

  <div ng-show="dirty" class="alert alert-warning" >
    <strong>{{ ts('There are unsaved changes') }}</strong>
    <button class="btn btn-primary btn-sm" ng-click="save()"
           ng-disabled="chasseConfigForm.$invalid"
      >{{ts('Save')}}</button>
    <span ng-if="chasseConfigForm.$invalid" >{{ ts('Correct errors before saving') }}</span>
  </div>
  <form name="chasseConfigForm" crm-ui-id-scope>

    <!-- List journeys and allow adding -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{ ts('Journey: %name', {name: journey.name}) }}</h2>
      </div>
      <div class="panel-body">
        <div class="">
          <!-- journey name -->
          <div class="row form-group form-group-lg chasse-step" ng-class="{'has-error': chasseConfigForm.journeyname.$invalid}">
            <label class="col-sm-3 control-label" for="{{ 'journeyname' + id }}" >{{ ts('Journey name') }}</label>
            <div class="col-sm-7">
              <input
                id="{{ 'journeyname' + id }}"
                name="journeyname"
                ng-model="journey.name"
                required
                ng-change="setDirty()"
                class="form-control" />
              <div class="col-sm-3 chasse-validation-message" ng-if="chasseConfigForm.journeyname.$invalid">{{ ts('Required') }}</div>
            </div>
          </div>

          <!-- Select mailing group -->
          <div class="row form-group" ng-class="{'has-error': chasseConfigForm.journeygroup.$invalid}">
            <label class="col-sm-3 control-label"  >{{ ts('Mailing Group') }}</label>
            <div class="col-sm-7" >
              <select name="journeygroup"
                      ng-model="journey.mailing_group"
                      required
                      ng-change="setDirty()"
                      crm-ui-select="{placeholder:'my mailing group...', width: '100%', allowClear:false}"
                >
                <option value="" >{{ ts('--please choose--') }}</option>
                <option ng-repeat="group in groups" value="{{group.id}}" >{{group.title}}</option>
              </select>
            </div>
            <div class="col-sm-3 chasse-validation-message" ng-if="chasseConfigForm.journeygroup.$invalid">{{ ts('Required') }}</div>
          </div>

          <!-- Select campaign -->
          <div class="row form-group" ng-class="{'has-error': chasseConfigForm.journeycampaign.$invalid}" ng-show="campaigns.length">
            <label class="col-sm-3 control-label">{{ ts('Campaign') }}</label>
            <div class="col-sm-7">
              <select name="journeycampaign"
                      ng-model="journey.campaign"
                      ng-change="setDirty()"
                      crm-ui-select="{placeholder:'my campaign...', width: '100%'}"
                >
                <option value="">{{ ts('--please choose--') }}</option>
                <option ng-repeat="campaign in campaigns" value="{{campaign.id}}" >{{campaign.title}}</option>
              </select>
            </div>
          </div>

          <div class="row form-group">
              <label class="col-sm-3">{{ ts('Archive mailings') }}</label>

              <div class="col-sm-9">
                <input name="journeyarchive" type="checkbox"
                  ng-model="journey.archive" ng-change="setDirty()"
                  id=journeyarchive
                 /><label for=journeyarchive> {{ts('Create Chassé mailings as archived.')}}</label>
              </div>
          </div>

          <!-- schedule editor -->
          <schedule-editor journey="journey" set-dirty="setDirty()"/>

        </div><!-- empty div - why? -->
      </div><!--/panel-body-->
    </div><!--/panel-->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{ ts('Steps in: %name', {name: journey.name}) }}</h2>
      </div>
      <div class="panel-body">
        <div ng-repeat="(step_offset, step) in journey.steps || []" class="row chasse-step-config-container">
          <div class="col-sm-2">
            <label>
              {{ts('Step Code')}}<br/>
              <input
                required
                ng-model="step.code"
                ng-change="setDirty();redoNextSteps(journey.steps)"
                crm-ui-validate="stepCodeIsValid(journey.id, step_offset, step.code)"
                crm-ui-validate-name="{{ 'stepcode' + step_offset}}"
                name="{{ 'stepcode' + step_offset}}"
                size=6
                class="form-control"/>
              <div
                class="chasse-validation-message"
                ng-if="chasseConfigForm['stepcode' + step_offset].$invalid"
                >{{ ts('Unique code required') }}</div>
              <div class="row chasse-step-config-move-buttons">
                <div class="col-xs-6">
                  <button class="btn btn-sm btn-secondary-outline" ng-click="moveStep(journey, step_offset, step_offset-1)" ng-disabled="step_offset == 0" ><span aria-hidden="true">&#x25B2;</span><span class=sr-only>Move step up</span></button>
                </div>
                <div class="col-xs-6">
                  <button class="btn btn-sm btn-secondary-outline" ng-click="moveStep(journey, step_offset, step_offset+1)" ng-disabled="(step_offset + 1) == journey.steps.length" ><span aria-hidden="true">&#x25BC;</span><span class=sr-only>Move step down</span></button>
                </div>
                <div class="col-xs-12">
                  <button class="btn btn-xs btn-danger-outline" ng-click="deleteStep(journey, step_offset)"  >{{ ts('Delete') }}</button>
                </div>
              </div>
            </label>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-9">

            <div class="chasse-step-config">
              <i class="ui-icon fa-user-plus"></i>
              <label><input type="checkbox" ng-true-value="'1'" ng-change="setDirty()" ng-model="step.add_to_group" />
                {{ ts('Add to group') }}</label>
            </div>

            <div class="chasse-step-config">
              <i class="ui-icon fa-envelope"></i>
              <label>{{ ts('Send Mailing') }}</label>
              <div>
                <select ng-model="step.send_mailing"
                   ng-change="setDirty()"
                   crm-ui-select="{width: '100%', allowClear:true}"
                >
                  <option value="">{{ ts('(None)') }}</option>
                  <option ng-repeat="msg_tpl in msg_tpls" value="{{msg_tpl.id}}" >{{msg_tpl.msg_title}}</option>
                </select>
              </div>

              <!-- from address -->
              <div ng-if="step.send_mailing">
                <label class="control-label" >{{ ts('From address') }}</label>
                <div>
                  <select
                    crm-ui-validate="step.send_mailing ? !!step.mail_from : true"
                    crm-ui-validate-name="{{ 'stepfrom' + step_offset}}"
                    ng-model="step.mail_from"
                    ng-change="setDirty()"
                    name="{{ 'stepfrom' + step_offset}}"
                    crm-ui-select="{allowClear:true, placeholder:'who@example.com', width: '100%', allowClear:false}"
                  >
                    <option value="" >{{ ts('--please choose--') }}</option>
                    <option ng-repeat="mailfrom in mail_froms" value="{{mailfrom.value}}" >{{mailfrom.label}}</option>
                  </select>
                    <div class="chasse-validation-message" ng-if="chasseConfigForm['stepfrom' + step_offset].$invalid">{{ ts('Required') }}</div>
                </div>
              </div>

              <!-- reply-to address -->
              <div ng-if="step.send_mailing && step.mail_from">
                <label class="control-label">{{ ts('Reply-to address') }}</label>
                <div>
                  <select
                    ng-model="step.mail_reply_to"
                    ng-change="setDirty()"
                    name="{{ 'stepfrom' + step_offset + 'reply' }}"
                    crm-ui-select="{allowClear:false, width: '100%'}"
                  >
                    <option value="0">{{ ts('Same as From address') }}</option>
                    <option ng-repeat="mailfrom in mail_froms" value="{{mailfrom.value}}" >{{mailfrom.label}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="chasse-step-config">
              <i class="ui-icon fa-clock-o"></i>
              <interval-selector interval="step.interval" set-dirty="setDirty()"></interval-selector>
            </div>
          </div>
        </div>

        <p><br/>{{ ts('Note: Journeys are processed in reverse order. (otherwise the contacts in step 1 would get moved into step 2 and then re-processed along with the contacts already in step 2, etc.) So use the re-order buttons to make the processing safe.') }}</p>
        <a class="btn btn-primary btn-sm" href ng-click="addStep(journey)">{{ ts('Add step') }}</a>
      </div><!--/panel-body-->
    </div><!--/panel-->
    <br />
    <button class="btn btn-primary" ng-click="save()"
           ng-disabled="chasseConfigForm.$invalid"
      >{{ts('Save')}}</button>
    <span ng-if="chasseConfigForm.$invalid" >{{ ts('Correct errors before saving') }}</span>
    <!--<a href ng-click="addJourney()" >Create New Journey</a>-->
    <br/><br/>
    <a class="btn btn-danger-outline btn-xs" href ng-click="deleteJourney(id)" >{{ ts('Delete Journey') }}</a><br/><br/>
  </form>
</div>
