<div af-fieldset="">
  <crm-search-display-table search-name="Discount_Uses" display-name="Discount_Uses_Assigned" filters="{'DiscountTrack_DiscountCode_item_id_01.organization_id': options.contact_id}"></crm-search-display-table>
</div>
