{crmScope extensionKey='dataprocessor'}
  <div class="crm-section">
    <div class="label">{$form.permission.label}</div>
    <div class="content">{$form.permission.html}</div>
    <div class="clear"></div>
  </div>
  <div class="crm-section">
    <div class="label">{$form.weight.label}</div>
    <div class="content">{$form.weight.html}
    <p class="description">{ts}Use this to order the tab. The lower the weight to more to the left the tab will be displayed. Keep empty for automatic position.{/ts}</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="crm-section">
    <div class="label">{$form.contact_id_field.label}</div>
    <div class="content">{$form.contact_id_field.html}</div>
    <div class="clear"></div>
  </div>
  <div class="crm-section">
    <div class="label">{$form.hidden_fields.label}</div>
    <div class="content">{$form.hidden_fields.html}</div>
    <div class="clear"></div>
  </div>
  <div class="crm-section">
    <div class="label">{$form.contact_types.label}</div>
    <div class="content">{$form.contact_types.html}</div>
    <div class="clear"></div>
  </div>
  <div class="crm-section">
    <div class="label">{$form.no_result_text.label}</div>
    <div class="content">{$form.no_result_text.html}</div>
    <div class="clear"></div>
  </div>
  <div class="crm-section">
    <div class="label">{$form.help_text.label}</div>
    <div class="content">{$form.help_text.html}</div>
    <div class="clear"></div>
  </div>

  <div class="crm-section">
    <div class="label">{$form.default_limit.label}</div>
    <div class="content">{$form.default_limit.html}</div>
    <div class="clear"></div>
  </div>

{/crmScope}
