.emailunion-summary {
  display: flex;
  align-items: center;
}
.emailunion-summary .bigstat {
  flex: 0 0 auto;
  padding: 2rem 2rem 2rem 0;
  font-size: 5rem;
  font-weight: bold;
  color: hsl(40, 80%, 30%);
}
.emailunion-summary .details {
  flex: 1 1 auto;
  font-size: 1.8rem;
  line-height: 1.2;
}

.emailunion .barchart {
  position: relative;
}
.emailunion .barchart-bar {
  position: absolute;
  z-index: 0;
  left: 0;
  top:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.emailunion .barchart-text {
  position: relative;
  z-index: 1;
}
