<a class="action-item crm-hover-button  crm-i fa-pencil edit-line-item" title="Edit Line item"></a>
<a class="action-item crm-hover-button  crm-i fa-undo cancel-line-item" title="Cancel Line item"></a>