<script>
  export let data;
  export let axis;
  export let scaleX;
  // export let title = '';
  // export let chart;

  $: z = axis.valToSvg(0);
  $: colWidth = scaleX.colWidth;
  $: barsWidth = colWidth/2.5;
  $: coords = data.map((row, i) => {

    let x = scaleX(i).middle - barsWidth;
    let addY = axis.valToSvg(row.additions_count);
    let removalsY = axis.valToSvg(-row.removals_count);
    let unheldY = axis.valToSvg(row.released_hold_count);
    let heldY = axis.valToSvg(-row.held_count);

    return { x: x, addY, removalsY, unheldY, heldY };
  });

</script>

{#each coords as row}
  <rect x={row.x} y={row.addY}
    width={barsWidth} height={z - row.addY}
    class="additions" />
  <rect x={row.x} y={z}
    width={barsWidth} height={row.removalsY - z}
    class="removals" />
  <rect x={row.x + barsWidth} y={row.unheldY}
    width={barsWidth} height={z - row.unheldY}
    class="un-held" />
  <rect x={row.x + barsWidth} y={z}
    width={barsWidth} height={row.heldY - z}
    class="held" />
{/each}
