<script>
  export let dailyData = [],
    showDays,
    showFrom,
    width,
    height,
    handleWheel,
    mouseIsDown = false;
  let l = dailyData.length;

  let maxMailable = Math.max(...dailyData.map((o) => +o.mailable_count)),
    maxMembers = Math.max(...dailyData.map((o) => +o.members_count)),
    h = 20;

  $: xScale = width / (dailyData.length - 1);
  $: dMailable = dailyData
    .map(
      (row, i) =>
        `L${Math.floor(i * xScale)},${Math.floor(
          h - (row.mailable_count * h) / maxMailable,
        )}`,
    )
    .join(" ")
    .replace(/^L/, "M");
  $: dMembers = dailyData
    .map(
      (row, i) =>
        `L${Math.floor(i * xScale)},${Math.floor(
          h - (row.members_count * h) / maxMembers,
        )}`,
    )
    .join(" ")
    .replace(/^L/, "M");

  function handleClick(e) {
    console.log(e);
    let x = Math.floor(
      (e.clientX - e.target.getBoundingClientRect().x) / xScale,
    );
    if (x > showDays / 2) {
      x -= Math.floor(showDays / 2);
    }
    console.log(e.clientX, xScale, x);
    if (x > 0 && x < l - 1) showFrom = x;
  }

  function mouseMove(e) {
    if (!mouseIsDown || e.movementX === 0) return;
    let x = showFrom + e.movementX / xScale;
    if (x > 0 && x < l - 1) showFrom = x;
  }
</script>

<g transform="translate(0, {height - h - 2})">
  <rect
    class="chart-nav"
    x="0"
    y="0"
    height={h}
    {width}
    on:wheel|preventDefault={handleWheel}
    on:click|stopPropagation={handleClick}
  ></rect>
  <path d={dMembers} class="nav-line members" />
  <path d={dMailable} class="nav-line mailable" />
  <rect
    class="nav-window"
    on:wheel|preventDefault={handleWheel}
    on:mousedown={() => {
      mouseIsDown = true;
    }}
    on:mouseup={() => {
      mouseIsDown = false;
    }}
    on:mouseout={() => {
      mouseIsDown = false;
    }}
    on:blur={() => {
      mouseIsDown = false;
    }}
    on:mousemove={mouseMove}
    x={xScale * showFrom}
    y="0"
    height={h}
    width={xScale * showDays}
    rx="1"
  />
</g>
