<script>
  export let data;
  export let chart;
  export let scaleX;

  // Abbrieviate dates so they fit better.
  let fitableData;
  $: {
    let last = "";
    fitableData = data.map((o, i) => {
      let x = {
          i,
          label: o.day_ended.substring(0, 10),
          anchor: "middle",
          label2: "",
        },
        dayOfMonth = o.day_ended.substring(8, 10).replace(/^0/, "");
      if (o.day_ended.substr(0, 7) !== last) {
        // Change of month or year?
        let newMonth = new Date(o.day_ended.substr(0, 10)).toLocaleString(
            "UTC",
            { month: "short" },
          ),
          newYear = o.day_ended.substring(0, 4);
        x.label = dayOfMonth + " " + newMonth;
        if (newYear !== last.substring(0, 4)) {
          x.label2 = newYear;
        }
        last = o.day_ended.substring(0, 7);
      } else {
        x.label = dayOfMonth;
      }
      Object.assign(x, scaleX(i));
      return x;
    });
  }
</script>

<g class="x-axis">
  {#each fitableData as tick}
    <g transform="translate({tick.middle}, {chart.h})" class="chart-tick">
      <path
        class="x-axis-tick"
        d="M{-scaleX.colWidth / 2},5 l0,5 l{scaleX.colWidth},0 l0,-5"
      />
      <text dy="25" text-anchor={tick.anchor}>{tick.label}</text>
      {#if tick.label2}
        <text dy="40" text-anchor={tick.anchor}>{tick.label2}</text>
      {/if}
    </g>
  {/each}
</g>
