<!-- Required for date inputs -->
<!-- include file="CRM/Form/validate.tpl" -->
<div crm-ui-debug="all_measures"></div>
<div crm-ui-debug="measure"></div>
<div crm-ui-debug="measure_values"></div>
<div crm-ui-debug="filter"></div>
<div crm-ui-debug="all_filters"></div>
<div crm-ui-debug="filter_values"></div>
<div crm-ui-debug="groupby"></div>
<div crm-ui-debug="all_groups"></div>
<div crm-ui-debug="groupby_values"></div>
<div crm-ui-debug="dataExplorerConfig"></div>

<div id="crm-dataexplorer-container">
  <div id="dataexplorer-menu-nav">
    <div class="dataexplorermode-viewmode-wrapper">
      <i class="fa fa-table fa-2x" ng-click="viewModeToggle('table')" ng-class="{'item-selected': view_mode.table }" title="{{ ts('Table view') }}"></i>
      <i class="fa fa-bar-chart fa-2x" ng-click="viewModeToggle('barchart')" ng-class="{'item-selected': view_mode.barchart }" title="{{ ts('Bar Chart') }}"></i>
      <i class="fa fa-line-chart fa-2x" ng-click="viewModeToggle('linechart')" ng-class="{'item-selected': view_mode.linechart }" title="{{ ts('Line Chart') }}"></i>
      <i class="fa fa-pie-chart fa-2x" ng-click="viewModeToggle('piechart')" ng-class="{'item-selected': view_mode.piechart }" title="{{ ts('Pie Chart') }}"></i>
      <i class="fa fa-map-marker fa-2x" ng-click="viewModeToggle('map')" ng-class="{'item-selected': view_mode.map }" title="{{ ts('Map') }}"></i>
    </div>

    <div>
      <div class="dataexplorer-menu-nav-header">{{ ts('Measure') }}</div>
      <input id="dataexplorer-input-measure" class="collapsible-optgroups form-control" ng-model="measure" ng-disabled="!all_measures.length" ng-class="{loading: !all_measures.length}" crm-ui-select="{placeholder: ts('Measure'), data: all_measures, multiple: true}" />
    </div>

    <div ng-if="measure">
      <div ng-repeat="item in measure.split(',')" class="list-group-item list-group-type-{{ item }}" id="dataexplorer-calculate-{{ item }}">
        <div class="dataexplorer-label" ng-click="menuKeepOpen('calculate', item)">{{ dataExplorerConfig.measures[item] }}<div class="badge"></div></div>
        <div class="menu-popup list-group dataexplorer-menu-second-level">
          <div>
            <div ng-click="updateCalculate(item, 'count')" class="list-group-item dataexplorer-label" ng-class="{'item-selected': measure_values[item] == 'count'}" id="item-group-{{ item }}-{{ 'count' }}">{{ ts('Count') }}</div>
            <div ng-click="updateCalculate(item, 'distinct')" class="list-group-item dataexplorer-label" ng-class="{'item-selected': measure_values[item] == 'distinct'}" id="item-group-{{ item }}-{{ 'distinct' }}">{{ ts('Count unique') }}</div>
            <div ng-click="updateCalculate(item, 'sum')" class="list-group-item dataexplorer-label" ng-class="{'item-selected': measure_values[item] == 'sum'}" id="item-group-{{ item }}-{{ 'sum' }}">{{ ts('Total') }}</div>
            <div ng-click="updateCalculate(item, 'avg')" class="list-group-item dataexplorer-label" ng-class="{'item-selected': measure_values[item] == 'avg'}" id="item-group-{{ item }}-{{ 'avg' }}">{{ ts('Average') }}</div>
            <div ng-click="updateCalculate(item, 'max')" class="list-group-item dataexplorer-label" ng-class="{'item-selected': measure_values[item] == 'max'}" id="item-group-{{ item }}-{{ 'max' }}">{{ ts('Maximum') }}</div>
            <div ng-click="updateCalculate(item, 'min')" class="list-group-item dataexplorer-label" ng-class="{'item-selected': measure_values[item] == 'min'}" id="item-group-{{ item }}-{{ 'min' }}">{{ ts('Minimum') }}</div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="dataexplorer-menu-nav-header">{{ ts('Filter') }}</div>
      <input id="dataexplorer-input-filter" class="collapsible-optgroups form-control" ng-model="filter" ng-disabled="!all_filters.length || !measure" crm-ui-select="{placeholder: ts('Filter'), data: all_filters, multiple: true}" />
    </div>

    <div class="list-group dataexplorer-menu-first-level" id="dataexplorer-group-filters">
      <div ng-repeat="(key, value) in dataExplorerConfig.filters" class="list-group-item list-group-type-{{ value.type }}" id="dataexplorer-filters-{{ key }}">
        <div class="dataexplorer-label" ng-style="{ 'display': (filter.match(key) ? 'block' : 'none') }" ng-click="menuKeepOpen('filters', key)">{{ value.label }}</div><div class="badge pull-right"></div>
        <div class="menu-popup list-group dataexplorer-menu-second-level{{ value.items3 ? ' dataexplorer-menu-second-level-items3' : '' }}">
          <!-- Select a value -->
          <div ng-repeat="(k2, v2) in value.items">
            <div ng-click="toggleFilter(key, k2)" class="list-group-item list-group-item" ng-class="{'item-selected': filter_values[key] == k2}">{{ v2 }}</div>
          </div>

          <!-- Extra widgets, such as date and text fields -->
          <div ng-repeat="(kk, vv) in value.widgets" class="list-group-item">
            <label style="{{ vv.type == 'date' ? 'width: 2em;' : '' }} display: inline-block;">{{ vv.label }}</label>
            <form ng-if="vv.type == 'date'" novalidate method="get">
              <input ng-model="filter_values[key + '-' + kk]" ng-change="updateFilter(key + '-' + kk)" id="item-filter-{{ key }}-{{ kk }}" href="#" class="dataexplorer-dateplugin dateplugin" autocomplete="off" type="date">
            </form>
            <form ng-if="vv.type == 'text'" novalidate method="get" ng-model-options="{ updateOn: 'blur', allowInvalid: true, debounce: 200 }">
              <input ng-model="filter_values[key + '-' + kk]" ng-change="updateFilter(key + '-' + kk, filter_values[key + '-' + kk])" id="item-filter-{{ key }}-{{ kk }}" href="#" class="dataexplorer-text" autocomplete="off" type="text">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="dataexplorer-menu-nav-header">{{ ts('Display') }}</div>
      <input id="dataexplorer-input-groupby" class="collapsible-optgroups form-control" ng-model="groupby" ng-disabled="!all_groups.length || !measure" crm-ui-select="{placeholder: ts('Display'), data: all_groups, multiple: true}" />
    </div>

    <div class="list-group dataexplorer-menu-first-level" id="dataexplorer-group-groupbys">
      <div ng-repeat="(key, value) in dataExplorerConfig.groups" class="list-group-item list-group-type-{{ value.type }}" id="dataexplorer-groupbys-{{ key }}">
        <div class="dataexplorer-label" ng-style="{ 'display': (groupby.match(key) ? 'block' : 'none') }" ng-click="menuKeepOpen('groupbys', key)">{{ value.label }}</div><div class="badge pull-right"></div>
        <div class="menu-popup list-group dataexplorer-menu-second-level{{ value.items3 ? ' dataexplorer-menu-second-level-items3' : '' }}">
          <!-- Select a value -->
          <div ng-repeat="(k2, v2) in value.items">
            <div ng-click="updateGroupby(key, k2)" class="list-group-item list-group-item" ng-class="{'item-selected': groupby_values[key] == k2}">{{ v2 }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- WIP -->
    <div class="dataexplorer-menu-nav-header">{{ ts('Bookmarks') }}</div>
    <div class="list-group dataexplorer-menu-first-level" id="dataexplorer-group-bookmarks">
      <div class="list-group-item">
        <!-- TODO if not author, offer to save copy -->
        <div class="dataexplorer-label" ng-click="save()">{{ ts('Save') }}</div>
      </div>
      <div class="list-group-item" id="dataexplorer-bookmarks-share">
        <div class="dataexplorer-label" ng-click="menuKeepOpen('bookmarks', 'share')">{{ ts('Share') }}</div>
        <div class="menu-popup list-group dataexplorer-menu-second-level">
          <div class="dataexplorer-label list-group-item" ng-if="!sharing_is_enabled" ng-click="updateSharing(true)">{{ ts('Enable') }}</div>
          <div class="dataexplorer-label list-group-item item-selected" ng-if="sharing_is_enabled" ng-click="updateSharing(false)">{{ ts('Enabled') }}</div>
          <div class="list-group-item">
            <div class="dataexplorer-sublabel">{{ ts('Expire:') }}</div>
            <form novalidate method="get">
              <input ng-model="share_expire_date" ng-disabled="!sharing_is_enabled" ng-change="updateSharingDate()" href="#" class="dataexplorer-dateplugin dateplugin" autocomplete="off" type="date">
            </form>
          </div>
          <div class="list-group-item">
            <div class="dataexplorer-sublabel">{{ ts('Secret:') }}</div>
            <form novalidate method="get">
              <input ng-model="share_key" ng-disabled="!sharing_is_enabled" ng-change="updateSharingSecret()" href="#" autocomplete="off" class="crm-form-text" type="text">
              <i class="fa fa-refresh" aria-hidden="true" ng-click="generateSharingKey()"></i><!-- FIXME accessibility -->
            </form>
          </div>
          <div class="list-group-item">
            <div class="dataexplorer-sublabel">{{ ts('Link:') }}</div>
            <form novalidate method="get">
              <input ng-model="share_link" ng-disabled="!sharing_is_enabled" href="#" autocomplete="off" class="crm-form-text" type="text">
              <i class="fa fa-clipboard" aria-hidden="true" ng-click="copySharingLink()"></i><!-- FIXME accessibility -->
            </form>
          </div>
        </div>
      </div>
      <div class="list-group-item" id="dataexplorer-bookmarks-dashlet">
        <div class="dataexplorer-label" ng-click="menuKeepOpen('bookmarks', 'dashlet')">{{ ts('Dashboard') }}</div>
        <div class="menu-popup list-group dataexplorer-menu-second-level">
          <div class="dataexplorer-label list-group-item" ng-if="!dashlet_is_enabled" ng-click="updateDashlet(true)">{{ ts('Enable') }}</div>
          <div class="dataexplorer-label list-group-item item-selected" ng-if="dashlet_is_enabled" ng-click="updateDashlet(false)">{{ ts('Enabled') }}</div>
          <div class="list-group-item">
            <div class="dataexplorer-sublabel">{{ ts('Title:') }}</div>
            <form novalidate method="get">
              <input ng-model="dashlet_title" ng-change="save()" ng-disabled="!dashlet_is_enabled" href="#" autocomplete="off" class="crm-form-text" type="text">
            </form>
          </div>
          <div class="list-group-item">
            <div class="dataexplorer-sublabel">{{ ts('More Link:') }}</div>
            <form novalidate method="get">
              <input ng-model="dashlet_more_link" ng-change="save()" ng-disabled="!dashlet_is_enabled" href="#" autocomplete="off" class="crm-form-text" type="text">
            </form>
          </div>
        </div>
      </div>
      <div class="list-group-item" id="dataexplorer-bookmarks-load">
        <div class="dataexplorer-label" ng-click="menuKeepOpen('bookmarks', 'load')">{{ ts('Load...') }}</div>
        <div class="menu-popup list-group dataexplorer-menu-second-level">
          <div ng-repeat="(key, val) in dataExplorerConfig.visualisations">
            <div class="list-group-item list-group-item"><a href="#/dataexplorer/{{ val.id }}" style="display: block;">#{{ val.id }} {{ val.label }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="main" id="dataexplorer-results-container">
<!-- FIXME: remove? bookmarks should go in the left col.
    <div class="panel panel-primary" id="dataexplorer-description">
      <div class="panel-heading">
        <a id="dataexplorer-presets-button" href="#" data-toggle="tooltip" data-placement="left" title="{{ ts('History and bookmarks') }}"><i class="fa fa-cog fa-2x"></i></a>
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body"></div>
    </div>
-->

    <div class="jumbotron" id="dataexplorer-intro-help">
      <p>{{ ts('Select a display mode, measures, filters and other options from the menu on the left side of the screen.') }}</p>
    </div>

    <div id="dataexplorer-loading">
      <p>{{ ts('Loading ...') }}</p>
    </div>

    <div id="mapContainerWrapper">
      <div id="mapContainer"></div>
      <p style="text-align: right;">
        <a href="#" class="btn btn-default dataexplorer-button-map-to-image" data-dataexplorerexportformat="png">PNG</a>
      </p>

      <canvas id="mapCanvass" width="1199" height="550" class="hide"></canvas>
      <div id="svgmapdataurl" class="hide"></div>
    </div>

    <div id="barChartContainerWrapper" style="height: 700px;">
      <canvas id="barChartContainer"></canvas>
    </div>

    <div id="lineChartContainerWrapper" style="height: 700px;">
      <canvas id="lineChartContainer"></canvas>
    </div>

    <div id="doughnutChartContainerWrapper" style="height: 700px;">
      <canvas id="doughnutChartContainer"></canvas>
    </div>

    <p style="text-align: right;">
      <a href="#" class="btn btn-default dataexplorer-button-canvas-to-image" data-dataexplorerexportformat="png">PNG</a>
    </p>

    <!-- used by the export to PNG function -->
    <canvas id="chartCanvass" width="1199" height="550" style="display: none;"></canvas>
    <div id="svgchartdataurl" class="hide"></div>

    <div id="tableContainer"></div>

    <div id="dataexplorerPresets" class="list-group dataexplorer-menu-first-level"></div>
  </div>
</div>

<script>
    // Required to enable Bootstrap tooltips on the graph-mode icons.
/* FIXME
    jQuery(function ($) {
      jQuery("a.dataexplorer-viewmode").tooltip();
      jQuery("a#dataexplorer-presets-button").tooltip();
    });
*/
</script>
