<div id="memberonlyevent_message" class="help">{$memberonlyevent_message}</div>

{literal}
	<script type="text/javascript">
		CRM.$(function($) {
			$('div.crm-event-info-form-block').prepend($('#memberonlyevent_message'));
		});
	</script>
{/literal}

